
#container{
    /* display: flex; */
    padding: 5px;
    width: 100px;
    /* position: relative; */
    /* text-align: center; */
    /* justify-content: center; */
}
.vote{
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 5px; */
}

input{
    width: 40px;
    border: none;
    background: none;
    color: grey;
    font-size: 25px;
    /* margin: 0 10px; */
    pointer-events: none;
} 


.upvotebtn,
.downvotebtn{
    background: none;
    border: none;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.upvotebtn:hover {
    color: #B7e4c7;
}

.downvotebtn:hover {
    color: rgb(255, 98, 98);
}


